.content {
	max-width: 500px;
	margin: auto;
	font: caption;
	font-weight: bold;
	font-style: italic;
	font-size: 150%;
	font-family: Helvetica;
	color: #0033cc;
}
#div1 {
	font: message-box;
	color: #000000;
	max-width: 500px;
	margin: auto;
	margin-bottom: 10px;
}
.column {
	float: left;
	width: 45%;
	padding: 10px;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
input {
	margin-bottom: 1px;
}
